.general-events-container {
  margin: 20px auto 0 auto;
  padding: 80px 0 80px 0;
  max-width: 1272px;
  align-self: center;
}

.general-events-inner {
  margin-left: auto;
  margin-right: auto;
  /* margin: 0; */
  padding: 24px 0 0 0;
  width: 100%;
}

.general-events-category {
  box-sizing: border-box;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  padding: 0 0 8px 0;
  width: 752px;
  margin: 0 -0.5px 0 0;
}

.general-events-view {
  width: 100%;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-column-gap: 25px; */
}
